[submodule "apib2wwrapperphp"]
	path = /include/apib2wwrapperphp
	url = ../apib2wwrapperphp
[submodule "apimagentophp"]
	path = /include/apimagentophp
	url = ../apimagentophp
[submodule "include/APIb2wwrapperphp"]
	path = include/APIb2wwrapperphp
	url = ../apib2wwrapperphp
[submodule "include/APImagentophp"]
	path = include/APImagentophp
	url = ../apimagentophp
